
body{
	background-color: #41B3A3;
	width: 100vw;
	height: 100vh;
	margin: 0%;
}




/* Header section stylings */
.header-section{
	background-color: #09645870;
	width: 100vw;
	display:flex;
	
}

.header1{
	display:flex;
	padding: 6px;
	margin-left: 4px;
}
.header2{
	display: inline-flex;
	justify-content: center;
	width: 100vw;
}

.header-menu > div{
	width: 35px;
  	height: 5px;
  	background-color: black;
  	margin: 6px 0;
}

.header-icon{
	margin-right: 4px;
}

.header-title{
	color: #320e188a;
	font-size: 40px;
}



/* Intro-Images Section */
.moving-images{
	display: flex;

}

.moving-images > div > img{
	width: 100vw;
	height: 56vh;
}